.app__content {
  width: 80%;
  max-width: 1400px;
  margin: 60px auto auto;
}

.app__content.-with-search-term {
  margin-top: 147px;
}

.app__fetch-error-message {
  padding-top: 16px;
  font-size: 24px;
}

.app__product-list-header {
  display: flex;
  padding: 16px 0;
}

.app__products-count {
  font-weight: 600;
  margin-right: auto;
  border-bottom: 2px solid #bdbd56;
  color: #666;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.app__product-list-footer {
  display: flex;
  padding: 32px 0;
}

.app__pagination {
  margin-left: auto;
}

@media (max-width: 486px) {
  .app__product-list-footer {
    flex-direction: column;
  }

  .app__pagination {
    margin-top: 16px;
  }
}
