.app-header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  box-shadow: 0 0 2px 1px #bbb;
}

.app-header__content {
  padding: 16px 48px;
  display: flex;
}

.app-header h1 {
  color: #564317;
  font-size: 24px;
}

.app-header__loader {
  margin-left: auto;
  margin-top: 3px;
}

.app-header__search-wrapper {
  align-items: flex-end;
  max-width: 440px;
  width: 60%;
}

.app-header__search-term {
  font-size: 48px;
  font-weight: 400;
  padding: 16px 48px;
  background-color: #ebeaef;
  color: #737279;
}


@media (max-width: 486px) {
  .app-header__content {
    padding-left: 28px;
    padding-right: 28px;
  }

  .app-header__search-wrapper {
    max-width: 40%;
  }
}
